<?xml version="1.0"?>
<configuration>
 
  
  <appSettings>

    <!--machine plate color (yellow)-->
    <add key="ColorMachinePlate" value="#FFFFFF00"/>
    <!--upper stripper plate color(skyblue)-->
    <add key="ColorUpperPress" value="#FF87CEEB"/>
    <!--lower stripper plate color(pink)-->
    <add key="ColorLowerPress" value="#FF87CEEB"/>
    <add key="ColorStripper" value="#FFFFC0CB"/>
    <add key="ColorRam" value="#FFFF0000"/>
    <!--machine shaft color (blue)-->
    <add key="ColorShaft" value="#FF0000FF"/>
    <!--Background color (white)-->
    <add key="ColorBackground" value="#FFFFFFFF"/>
    <!--Machine Top Bottom color (light Gray)-->
    <add key="ColorMachineTopBottom" value="#FFF0F0F0"/>
    <!--Machine Post Color (light Gray)-->
    <add key="ColorMachinePost" value="#FFF0F0F0"/>
    <!--Bar Graph Color (Red)-->
    <add key="ColorBarGraph" value="#FF9B0000"/>
    <!--Machine Post Frame Color (Black)-->
    <add key="ColorMachinePostLine" value="#FF000000"/>





    <!--Sensor 1-4 position x,z (order sensor by clock wise)
       x from -6.0 to 6.0 z from -2.0 to 2.0-->
    <add key="Sensor1" value="-1,1"/>
    <add key="Sensor2" value="-1,-1"/>
    <add key="Sensor3" value="1,-1"/>
    <add key="Sensor4" value="1,1"/>
    <!--Sensor high value-->
    <add key="SensorHighValue" value="2000"/>
    <!--Sensor low value-->
    <add key="SensorLowValue" value="1200"/>

    <!--Minimum zoom value-->
    <add key="MinZoom" value="-20"/>
    <!--Maximum zoom value-->
    <add key="MaxZoom" value="20"/>
    <!--Maximum Speed Ratio for animation -->
    <add key="MaxSpeedRatio" value="8"/>
    <!--Maximum Rotate speed -->
    <add key="MaxRotateSpeed" value="30"/>
    <!--Default Pausing Time (Second) -->
    <add key="PausingTime" value="2"/>

    <!--CSV file path -->
    <add key="CSVFilePath" value="TestData.csv"/>

    <!--Camera Default Position-->
    <add key="CamX" value="0"/>
    <add key="CamY" value="0"/>
    <add key="CamZ" value="30"/>

    <add key="MeasureLabelBackground" value="#FFFFFF"/>
    <add key="MeasureBorderColor" value="#FFFFFF"/>
    <add key="MeasureLabelForegroundX" value="#FF0000"/>
    <add key="MeasureLabelForegroundY" value="#0000FF"/>
    <add key="MeasureLineColorX" value="#FF0000"/>
    <add key="MeasureLineColorY" value="#0000FF"/>
    <add key="GridLineColor" value="#FFFFFF"/>
    <add key="AxisSettingPos" value="10"/>
    <add key="MaximumGraph" value="5"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
