<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type=" log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:/RM-3000/Logs/3DGraph/"/>
      <param name="AppendToFile" value="true"/>
      <!-- 日付ごとにファイルを作成することを指定 -->
      <param name="RollingStyle" value="date"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="100KB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="&quot;3DGraph.&quot;yyyy-MM-dd&quot;.log&quot;"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" type="log4net.Util.PatternString" value="[Header %date{ISO8601}]%newline"/>
        <param name="Footer" type="log4net.Util.PatternString" value="[Footer]%newline"/>-->
        <!-- ログの書式 -->
        <param name="ConversionPattern" value="%d [%t] %-5p %c(%L) - %m%n"/>
      </layout>
    </appender>
    <!--<root>
      --><!-- すべてのログ・レベルを出力 --><!--
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>-->
    <logger name="Graph3DLib">
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>

  <appSettings>

    <!--machine plate color (yellow)-->
    <add key="ColorMachinePlate" value="#FFFFFF00"/>
    <!--upper stripper plate color(skyblue)-->
    <add key="ColorUpperPress" value="#FF87CEEB"/>
    <!--lower stripper plate color(pink)-->
    <add key="ColorLowerPress" value="#FF87CEEB"/>
    <add key="ColorStripper" value="#FFFFC0CB"/>
    <add key="ColorRam" value="#FFFF0000"/>
    <!--machine shaft color (blue)-->
    <add key="ColorShaft" value="#FF0000FF"/>
    <!--Background color (white)-->
    <add key="ColorBackground" value="#FFFFFFFF"/>
    <!--Machine Top Bottom color (light Gray)-->
    <add key="ColorMachineTopBottom" value="#FFF0F0F0"/>
    <!--Machine Post Color (light Gray)-->
    <add key="ColorMachinePost" value="#FFF0F0F0"/>
    <!--Bar Graph Color (Red)-->
    <add key="ColorBarGraph" value="#FF9B0000"/>
    <!--Machine Post Frame Color (Black)-->
    <add key="ColorMachinePostLine" value="#FF000000"/>

    <!--Sensor high value-->
    <add key="SensorHigh1" value="2000"/>
    <add key="SensorHigh2" value="2000"/>
    <add key="SensorHigh3" value="2000"/>
    <add key="SensorHigh4" value="2000"/>
    <add key="SensorHigh5" value="2000"/>
    <add key="SensorHigh6" value="2000"/>
    <add key="SensorHigh7" value="2000"/>
    <add key="SensorHigh8" value="2000"/>
    <add key="SensorHigh9" value="2000"/>
    <add key="SensorHigh10" value="2000"/>

    <!--Sensor low value-->
    <add key="SensorLow1" value="1200"/>
    <add key="SensorLow2" value="1200"/>
    <add key="SensorLow3" value="1200"/>
    <add key="SensorLow4" value="1200"/>
    <add key="SensorLow5" value="1200"/>
    <add key="SensorLow6" value="1200"/>
    <add key="SensorLow7" value="1200"/>
    <add key="SensorLow8" value="1200"/>
    <add key="SensorLow9" value="1200"/>
    <add key="SensorLow10" value="1200"/>


    <!--Minimum zoom value-->
    <add key="MinZoom" value="-20"/>
    <!--Maximum zoom value-->
    <add key="MaxZoom" value="20"/>
    <!--Maximum Speed Ratio for animation -->
    <add key="MaxSpeedRatio" value="8"/>
    <!--Maximum Rotate speed -->
    <add key="MaxRotateSpeed" value="30"/>

    <!--Machine object use Image texture -->
    <add key="IsImageTexture" value="True"/>

    <!--Transparent for Machine Object  (double) Min = 0 Normal =1   -->
    <add key="TranparentValue" value="0.5"/>

    <!--Camera Default Position-->
    <add key="CamX" value="0"/>
    <add key="CamY" value="0"/>
    <add key="CamZ" value="30"/>

    <add key="ImagePath" value=".\\Images\\"/>

    <add key="IsPanelShow" value ="False"/>
    <add key="SensorXZOffset" value ="15"/>


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
